APP_NAME = "anything"
APP_VERSION = "your-app-version"

OPENAI_API_KEY="your-openai-api-key"

FILE_ALLOWED_TYPES=["plain/text" , "application/pdf"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000 # 500 KB